#To enable usb ethernet adpater

CONFIG_USB_USBNET=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_CDCETHER=y
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_RNDIS_HOST=y
CONFIG_USB_NET_RNDIS_WLAN=y
CONFIG_USB_NET_RTL8150=y
CONFIG_USB_NET_RTL8152=y
