[Unit]
Description=VSI ISP Media Service
RequiresMountsFor=/run

[Service]
EnvironmentFile=-/etc/default/isp_media_server
Type=oneshot
ExecStart=-/bin/bash /usr/sbin/isp_media_server.sh start
ExecStop=-/bin/bash /usr/sbin/isp_media_server.sh stop
Restart=no
RemainAfterExit=yes
PermissionsStartOnly=true
IgnoreSIGPIPE=no

[Install]
WantedBy=multi-user.target
