[Unit]
Description=Run wlan_start at boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/wlan_start --service
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
